@import '../../../node_modules/normalize.css/normalize.css';
@import './base.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base-color);
  background: black;
  color: green;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  width:400px;
  height:300px;
}
